/* .container{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    /* gap: 20px; 

}
.container-row{
    display: flex;
    gap: 50px;
    flex-direction: column;
  

}
.container-col{
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    font-weight: 100; 
   
}
h2{
    font-weight: bolder;
}

p{
    text-align: center;
    font-weight: 100;
    color: whitesmoke;
    font-size: 13px;

}
h3{
    margin-top: 0px;
    font-weight: 100;
}
.container1{
    width: 350px;
    height: 250px;
    border: 2px solid white;
    margin: 5px;
    border-radius: 5px;
}
.container1:hover{
     background-color: rgba(185, 146, 7, 0.708);
}
.container2{
    width: 350px;
    height: 300px;
    border: 2px solid white;
    margin: 5px;
    border-radius: 5px;
}
.container2:hover{
    background-color: rgba(185, 146, 7, 0.708);
}
.container1 h3{
    color: yellow;
    margin: 20px;
}
.container2 h3{
    color: yellow;
    margin: 20px;
}
.container3{
    width: 300px;
    
    height: 40px;
    background-color: yellow;
    margin: 5px;
}

@media(max-width:780px){
   
   
}


@media(max-width:480px){
    
} */