
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  /* background: radial-gradient(
  circle at 75% 55%,
 rgb(78, 73, 6) 10%,   
  hsl(49, 84%, 15%) 30%,
  rgb(48, 40, 3) 60%
);  */
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
}

.login-container {
   width: 100%; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: none;
  color: white;
  gap: 15px;
}

img {
  display: block;
  margin-bottom: 40px;
  
  width: 160px;
  height: auto;
  object-fit: contain;
}
h1{
  font-family: 'DM Sans', sans-serif;
  font-size: 30px;
  margin: 10px 0;
  font-weight: 300;
}

h2 {
  font-family: 'DM Sans', sans-serif;
  font-size: 28px;
  margin: 10px 0;
  font-weight: 300;
}
h4 {
    font-family: 'DM Sans', sans-serif;
 font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  margin: 6px 0 2px 0;
  font-weight: 400;
  width: 100%;
  text-align: left;

}

.login-input {
  padding: 12px 35px;
  color: white;
  width: 100%;
 box-sizing: border-box;
  background:none;
 border: 1px solid #48442d;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  border-radius: 3px;
}

.button{
  padding: 12px 35px;
  color:black;
  width: 100%;
 box-sizing: border-box;
  background:white;
 
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  border-radius: 3px;
  text-decoration: none;
  margin-bottom: 100px;
}

p {
  font-size: 16px;
  font-weight: 500;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: -5px 0 5px 0;
  cursor: pointer;

 
}


.register-link {
  color: white;
  text-decoration: none;
}
.wrapper {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper .login-input {
  width: 100%;
  padding-right: 60px; 
  padding: 10px;
}

.toggle-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 0.9rem;
}


@media screen and (max-width: 480px) {
  .login-container {
    padding: 0 20px;
    gap: 12px;
  }

    img {
    align-self: center;
    margin-bottom: 20px;
    width: 200px;
  }
 

  h4 {
     width: 100%;
    font-size: 18px;
    text-align: left;
   
  }
  h2{
      width: 100%;
    font-size: 30px;
    text-align: center;
  }

.login-input{
   width: 100%;
    padding: 12px;
    font-size: 14px;
    color: white;
 
    

}
  .button {
  width: 100%;
    padding: 12px;
    font-size: 14px;
    color: rgb(8, 0, 0);
    background: white;
 
  }

  p {
    font-size: 14px;
    text-align: center;
    width: 100%;
    padding: 10px;
    
  }
  .error-message {
    justify-content: center; 
    text-align: center;
    width: 100%;
  }
  
}
.input-error {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 14px;
  margin: 6px 0 4px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
}

.error-icon {
  font-size: 16px;
}

