
.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  color: white;
  text-align: center;
  width: 100%;
  
  
}
img{
  margin-top: 50px;
  width: 250px;
}

h1{
  font-size:50px;
  margin-bottom: 50px;
}
.button-container{
  display: flex;
  gap: 300px;
}
.button{
  padding: 15px 24px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background: linear-gradient(to right, #ffcc00, #ffdd33);
}
.button:hover {
  transform: scale(1.05);
}
@media (max-width:790px){
  .button-container{
   
    flex-direction: column;
    gap: 10px;
    width: 250px;
  }
  img{
    margin-top: 10px;
    width: 220px;
   
  }
  .button{
    margin-bottom: 15px;
  }
  h1{
    font-size:45px;
    margin-bottom: 45px;
  }
  

}
@media (max-width:490px){
  .button-container{
   
   
    width: 220px;
  }
  img{
    margin-top: 10px;
    width: 200px;
  }
  
  h1{
    font-size:40px;
    margin-bottom: 40px;
  }
   .button{
    margin-bottom: 25px;
  }
}

