
.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  width: 100%;
  
  
}
img{
  width: 250px;
}
h1{
  font-size:60px;
}

.buttons {
  margin: 20px;
  display: flex; 
  flex-direction: row;
  gap: 300px;  
  
}
@media (max-width:768px){
  .buttons{
    flex-direction: column;
    gap: 15px;
    width: 250px;
  }
  h1{
    font-size: 45px;
  }
  img{
    width: 200px;
  }

}

button {
  background: linear-gradient(to right, #ffcc00, #ffdd33);
  border: none;
  padding: 15px 24px;
  font-size: 16px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
button:hover {
  transform: scale(1.05);
}

