.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color:none;
  height: 10vh;
  width: 100%;
  
}
.navbar-left{
  display: flex;
  flex-wrap: wrap;
  padding: 10px; 
  background-color:none;
}
.logo{
  height: 60px;
  width: 100px;
  
  
 
  margin: 10px;
  background-color:none;
 
  object-fit: cover;
}
.navbar-left .profile {
  height: 30px;
  width: auto;
  margin: 10px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
 
}
.flex-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color:none;
}

.navbar-left .text{
    /* padding: 15px;
    padding-left: 0px; */
    background-color: none;
}

@media(max-width:800px){

}
@media(max-width:468px){
 
 

}
