.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color:none;
  height: 12vh;
  width: 100%;
  
  
}
.navbar-left{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color:none;
  margin-right: 10px;
}
.logo{
  height: 60px;
  width: 100px;
  
  
 
  margin: 10px;
  background-color:none;
 
  object-fit: cover;
}
.navbar-left .profile {
  height: 30px;
  width: auto;
  margin: 10px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
 
}
.flex-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color:none;
}

.navbar-left .text{
    /* padding: 15px;
    padding-left: 0px; */
    background-color: none;
}


.profile-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  right: 0;

  top: 60px;
 background: linear-gradient(to right, #FCBB12, #FAFF00);
  border: 1px solid #4d3d04;
  border-radius: 3px;
  min-width: 150px;
  z-index: 1000;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #000;
}

.dropdown-menu p {
  margin: 0 0 10px;
  font-weight: bold;
}

.logout-button {
  width: 100%;
  padding: 8px 10px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: none;
}

@media(max-width:800px){

}
@media(max-width:468px){
 
 

}
