.register-container {
  height: 100vh;

  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 12px;
}

input {
  padding: 10px;
  width: 250px;
  border-radius: 8px;
  border: none;
}
.logo {
  display: block;
  margin: 0 auto 20px;
  width: 120px;
  height: auto;
  object-fit: contain;
}


.btn {
  background: linear-gradient(to right, #ffcc00, #ffdd33);
  color: black;
  padding: 10px 30px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
}

.link {
  color: rgb(1, 1, 1);
  
  text-decoration: none;
}
.link-login{
  color: #ffcc00;
  
  text-decoration: none;
}
